<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title>$pageTitle</title>
		#parse( "common/styles.vm" )
		
		<!--TODO: scripts aren't working at the end for some reason, need to figure out-->
		#parse( "common/scripts.vm" )
	</head>
	<body>
		
		#parse( $innerTemplate )

	</body>
</html>
