#macro(renderNavBar $activeLink)
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/index.html" style="text-decoration:none">
				<img src="/img/ohdsi.png" alt="$appName" style="height:40px"/>
			</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li #if ($activeLink == "index") class="active" #end><a href="/index.html">Home</a></li>

			#if ($webapi.isRunning() && $req.userPrincipal && $activeLink == "index")
				 #if($req.isUserInRole("JOB_VIEWER")) <li><a class="launch-apps-link" href="#jobviewer" data-toggle="tab" id="jobviewer-link">Job Viewer</a></li> #end
			    <li class="dropdown">
			      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Apps<span class="caret"></span></a>
			      <ul class="dropdown-menu" role="menu" id="apps">
			        #if($req.isUserInRole("CIRCE"))<li><a href="#circe" data-toggle="tab" id="circe-link">Circe</a></li>#end
		        	#if($req.isUserInRole("HERMES"))<li><a href="#hermes" data-toggle="tab" id="hermes-link">Hermes</a></li>#end
		        	#if($req.isUserInRole("HERACLES"))<li><a href="#heracles" data-toggle="tab" id="heracles-link">Heracles</a></li>#end
		        	#if($req.isUserInRole("CALYPSO"))<li><a href="#calypso" data-toggle="tab" id="calypso-link">Calypso</a></li>#end
			      </ul>
			    </li>
			   
			#end
			
			#if ($req.userPrincipal && $req.isUserInRole("ADMIN"))
				<li class="dropdown">
			      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin<span class="caret"></span></a>
			      <ul class="dropdown-menu" role="menu" id="admin">
			      	<li><a href="/webapi/config.html">WebAPI Configuration</a></li>
			      	<li><a href="/user/create">Create User</a></li>
			      	<li><a href="/user">Users</a></li>
			      </ul>
			    </li>
			#end
			
				
			</ul>
			<ul class="nav navbar-nav navbar-right">
				#if($req.userPrincipal)<li><a href="/logout">Logout</a></li>#end
			</ul>

		</div><!--/.nav-collapse -->
	</div>
</nav>
#end