<!DOCTYPE html>
<html>

<head lang="en">
	<meta charset="UTF-8">
	<title>Heracles Analysis Viewer</title>
	<link rel="stylesheet" type="text/css" href="build/css/Heracles.min.css">
	<link rel="stylesheet" type="text/css" href="lib/datatables/jquery.datatables.colvis.css">
	<link rel="stylesheet" type="text/css" href="lib/datatables/jquery.datatables.css">
	<link rel="stylesheet" type="text/css" href="lib/tabletools/css/dataTables.tableTools.css">
</head>
<style>
	select
	{
		border-radius:0px;
	}
</style>
<body>

	<div class="container" id="searcher-container">
		<!-- Header and app info -->
		<div class="row page-one">
			<div class="col-md-12">
				<div class="row " style="margin-top:10px">
					<div class="col-md-1"></div>
					<div class="col-md-10">
						<div class="jumbotron jumbotron-alt">
							<h2>Heracles</h2>
							<h4 class="header-sub">Analysis Viewer</h4>
							<p class="sub-text-alt">Heracles is the cohort analysis tool for the OMOP Common Data Model (CDM). Begin your analyses by selecting a cohort.</p>
						</div>
					</div>
					<div class="col-md-1"></div>
				</div>
			</div>

			<!-- Cohort search bar -->
			<div class="col-md-12">
				<div id="cohort-search" class="row ">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<div class="row">
							<div class="col-xs-11" style="padding-right:0px; margin-right: 0px">
								<div id="cohorts-viewer-typeahead" class="heracles-typeahead">
									<input id="cohorts" type="text" placeholder="Search Cohorts" class="form-control large-input typeahead" />
								</div>
							</div>
							<div class="col-xs-1" style="padding-left:0px; margin-left: 0px">
								<div class="dropdown">
									<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" style="height: 50px">
										<span class="glyphicon glyphicon-cog" aria-hidden="true" style="font-size: 25px"></span>
									</button>
									<ul class="dropdown-menu webpai-dropdown" role="menu" aria-labelledby="dropdownMenu1">
										<!-- <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li> -->
									</ul>
								</div>
							</div>
						</div>
						<div align="center" class="heracles-link">
							<a href="index.html">Switch to <b>run</b> Heracles Analyses</a>
						</div>
					</div>
					<div class="col-md-2"></div>
				</div>
			</div>
		</div>
	</div>
	<div id="viewer-container" style="display: none" ng-controller="CohortViewerCtrl">
        <input type="hidden" id="selectedSourceKey" value="{{selectedSource.sourceKey}}" />
		<div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm" style="width:200px">
			<a class="navmenu-brand visible-md visible-lg" ng-click="goBack($event)" style="font-weight: bold">OHDSI Heracles</a>
			<ul class="nav navmenu-nav" style="border-bottom:1px solid #898989;">
				<li><a ng-click="goBack($event)" style="font-size:16px">&laquo;Back</a>
				</li>
                <li style="margin-left:10px" ng-hide="hasOneSource()">
                    <select id="sourcepicker" class="selectpicker" >
                        <option ng-repeat="(k,s) in sources" value="{{k}}" ng-selected="selectedSource == s">
                            {{s.sourceName}}
                        </option>
                    </select>
                </li>
				<li><a ng-href="index.html?cohortId={{cohort.id}}">Heracles Runner</a>
				</li>
			</ul>
			<ul class="nav navmenu-nav">
				<li><a id="cohortSpecific" class="chartTypes" vizkey="cohort_specific">Cohort Specific</a>
				</li>
				<li><a id="condition" class="chartTypes" vizkey="condition">Condition</a>
				</li>
				<li><a id="conditionEras" class="chartTypes" vizkey="condition_era">Condition Eras</a>
				</li>
				<li><a id="conditionByIndex" class="chartTypes" vizkey="cohort_specific_treemap">Conditions by Index</a>
				</li>
				<li><a id="dashboard" class="chartTypes" vizkey="dashboard">Dashboard</a>
				</li>
				<li><a id="dataDensity" class="chartTypes" vizkey="data_density">Data Density</a>
				</li>
				<li><a id="death" class="chartTypes" vizkey="death">Death</a>
				</li>
				<li><a id="drugEras" class="chartTypes" vizkey="drug_era">Drug Eras</a>
				</li>
				<li><a id="drugExposures" class="chartTypes" vizkey="drug">Drug Exposures</a>
				</li>
				<li><a id="drugByIndex" class="chartTypes" vizkey="cohort_specific_treemap">Drugs by Index</a>
				</li>
				<li><a id="heraclesHeel" class="chartTypes" vizkey="heracles_heel">Heracles Heel</a>
				</li>
				<li><a id="measurements" class="chartTypes" vizkey="measurement">Measurements</a>
				</li>
				<li><a id="observationPeriods" class="chartTypes" vizkey="observation_period">Observation Periods</a>
				</li>
				<li><a id="observations" class="chartTypes" vizkey="observation">Observations</a>
				</li>
				<li><a id="person" class="chartTypes" vizkey="person">Person</a>
				</li>
				<li><a id="procedures" class="chartTypes" vizkey="procedure">Procedures</a>
				</li>
				<li><a id="procedureByIndex" class="chartTypes" vizkey="cohort_specific_treemap">Procedures by Index</a>
				</li>
				<li><a id="visits" class="chartTypes" vizkey="visit">Visits</a>
				</li>

			</ul>

		</div>

		<div class="navbar navbar-default navbar-fixed-top hidden-md hidden-lg">
			<button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">OHDSI Heracles</a>
		</div>

		<div class="container detail-container">
			<div id="chart-container">
				<div id="chart-wrapper" ng-include="template" ng-cloak>
				</div>
			</div>
		</div>

    <div class="modal fade" id="spinner-modal">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h3><i class="fa fa-cog fa-spin"></i> <span id="loading-text">Loading...</span></h3>
                    <h5>(Click to run in background.)</h5>
                </div>
            </div>
        </div>
    </div>

	</div>

	<script src="lib/jquery/jquery.js" type="text/javascript"></script>
	<script src="build/js/Heracles.config.js" type="text/javascript"></script>
    <script src="lib/requirejs/require.js" type="text/javascript"></script>
    <script>
        require(['src/js/require.main'], function(){
            require([]);
            require(['heracles-results']);
        });
    </script>

</body>

</html>
