<div class="container">

    <div class="container" id="main-launcher">
        <div class="row row-top">
        #if(${error})
        <div class="alert alert-danger" role="alert">$error.message</div>
        #end
        #if(${msg})
        <div class="alert alert-success" role="alert">$msg</div>
        #end
<style type="text/css">

body { 

  padding-top: 40px;
  padding-bottom: 40px;
  background-color: black; 
  background: url($baseURL/img/greekColumns.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>
      
      
<form class="form-signin" role="form" action="$baseURL/login" method="post">
<h2 class="form-signin-heading" style="font-family: 'Julius Sans One', sans-serif;font-size:60px; black 5px 3px 3px">Olympus</h2>
    <input type="hidden" name="$_csrf.parameterName" value="$_csrf.token"/>

        <label for="username" class="sr-only">Username</label>
        <input type="username" name="username" class="form-control" id="username" value="#if($defaultUsername)$defaultUsername#end" placeholder="Username" required autofocus/>
        <label for="password" class="sr-only" >Password</label>
        <input type="password" name="password" class="form-control" id="password" value="#if($defaultPassword)$defaultPassword#end" placeholder="Password" required/>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me" id="remember-me"> Remember me
          </label>
        </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
<a href="http://www.ohdsi.org" target="_blank" class="image-link">
	<label class="sr-only">OHDSI Homepage</label>
	<img src="$baseURL/img/ohdsi.png" alt="$appName" style="height:50px"/>
</a>
        </div>
    </div>
</div>