@import url(http://fonts.googleapis.com/css?family=Titillium+Web);
@import url(http://fonts.googleapis.com/css?family=Cinzel+Decorative|Julius+Sans+One|Cinzel);

html, body { 
	height: 100%;
	font-family: 'Titillium Web', sans-serif;

}



.sub-text {
	color: #D1D8DE;
}

.jumbotron {
	color: white;
	background: #231E18;
	padding: 30px;
}

.large-input {
	padding: 10px;
    font-size: 15pt;
    line-height: 2.45;
    height: 50px;
}

.btn-heracles {
	color: #fff;
	background-color: #0A7184;
	border-color: #168296;
}

a {
	cursor:pointer;
}

.cohort-desc {
	padding-right: 4px;
}

.definition {
	text-decoration: underline;	
	padding: 2px 10px;
}

 .toggle-child-label {
 	font-weight:normal;
 	padding-left:40px;
 	cursor:pointer;
 }
 
.toggle-parent-label {
	cursor:pointer;
}
 
 
.toggle-filter-control {
	font-size: 90%;
	background-color:#aaa;
}
 
.multiselect {
	width: 20em;
	height: 15em;
	border: solid 1px #c0c0c0;
	overflow: auto;
}

.multiselect label {
	display: block;
}

.multiselect-on {
	color: #ffffff;
	background-color: #000099;
}


.d3-wrapper {
	text-align: center;
}

.navbar {
	font-size: 14pt;
	min-height: 65px;
}

.navbar-nav>li>a {
	line-height: 40px;
}

.row-top {
	margin-top: 90px;
}

.launch-app {

}

.img-ohdsi {
	height: 80px;
	width: auto;
}

.navbar-inverse .navbar-nav>li>a {
	color: #ffffff;
}

.navbar-inverse {
	background-color: #231E18;
	border-color: #0B293E;
}

.navbar-inverse .navbar-toggle {
	border-color: #0B293E;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
	background-color: #374862;
}


.form-signin {
	color: #BEB7B5;
  max-width: 400px;
  /* padding: 15px; */
  /* margin: 0 auto; */
     position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 50px;
    padding-bottom: 50px;
  width: 350px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.image-link {
	position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 50px;
    padding-bottom: 50px;
	
}

.launcher-header {
	  font-weight: bold;
  font-size: 20px;
  font-family: 'Julius Sans One', sans-serif;
}

.launcher-subheader {
	  font-weight: bold;
  color: #787878;
  font-size: 15px;
}

.launch-link-row {
	cursor: pointer;
	margin-top:10px;
}

.launch-app-names {
	padding-left: 20px;
}


@media (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}




@media (min-width: 1400px) {
  .container {
    width: 1300px;
  }
}


@media (min-width: 1800px) {
  .container {
    width: 1700px;
  }
}


@media (min-width: 2000px) {
  .container {
    width: 1900px;
  }
}


@media (min-width: 2400px) {
  .container {
    width: 2300px;
  }
}

