.sub-text {
	color: #D1D8DE;
}

.jumbotron {
	color: white;
	background: #1C3E57;
	padding: 30px;
}

.large-input {
	padding: 10px;
    font-size: 15pt;
    line-height: 2.45;
    height: 50px;
}

.btn-heracles {
	color: #fff;
	background-color: #0A7184;
	border-color: #168296;
}

a {
	cursor:pointer;
}

.cohort-desc {
	padding-right: 4px;
}

.definition {
	text-decoration: underline;	
	padding: 2px 10px;
}

 .toggle-child-label {
 	font-weight:normal;
 	padding-left:40px;
 	cursor:pointer;
 }
 
.toggle-parent-label {
	cursor:pointer;
}
 
 
.toggle-filter-control {
	font-size: 90%;
	background-color:#aaa;
}
 
.multiselect {
	width: 20em;
	height: 15em;
	border: solid 1px #c0c0c0;
	overflow: auto;
}

.multiselect label {
	display: block;
}

.multiselect-on {
	color: #ffffff;
	background-color: #000099;
}


.d3-wrapper {
	text-align: center;
}

.navbar {
	font-size: 14pt;
	min-height: 65px;
}

.navbar-nav>li>a {
	line-height: 40px;
}

.row-top {
	margin-top: 90px;
}

.launch-app {

}

.img-ohdsi {
	height: 80px;
	width: auto;
}
