body { padding-top: 70px; }

.inputField
{
	background-color: #eee;
	border-bottom: solid 1px #ccc;
	border-left: none;
	border-top: none;
	border-right: none;
	padding: 3px;
	padding-left: 10px;
	outline: none;
}

button:focus
{
	outline:none !important;
}

img.spin {
    -webkit-animation-name: rotation;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

#topnavigation .input-group {
	margin-top: 8px;
}

#topnavigation .glyphicon-cog {
	color: #4AC3FF;
}

#topnavigation .glyphicon-cog.warning {
	color: rgb(255, 68, 0);
}

.service-name {
	font-weight: bold;
}

.service-name .glyphicon-ok-sign {
	color: #4AC3FF;
}

.service-name .glyphicon-ok-sign.warning {
	color: rgb(255, 68, 0);
}

.warning {
	color: rgb(255, 68, 0);
}

.service-info {
	color: #888;
	font-size: .8em;
}

tr .glyphicon-ok-sign {
	color: #ccc;
	cursor: pointer;
}

tr.selected .glyphicon-ok-sign {
	color: #4AC3FF;
}

.glyphicon-ok-sign.selected {
	color: #4AC3FF;
}

.glyphicon-ok {
	cursor: pointer;
	color: #ccc;
}

.glyphicon-ok.selected {
	color: #4AC3FF;
}

.active .glyphicon {
	color: #4AC3FF;
}