<div>
   	#set ( $current = "config" )
	#parse( "common/navbar.vm" )
	#renderNavBar ($current )
    <div class="container" id="main-launcher">
        <div class="row row-top">
        #if(${errorMsg})
        <div class="alert alert-danger" role="alert">$errorMsg</div>
        #end
        #if(${msg})
        <div class="alert alert-success" role="alert">$msg</div>
        #end
        #if(${webapi.isRunning()})
        <div class="alert alert-success" role="alert">WebApi is running</div>
        #elseif(${webapi.isConfigured()})
        <div class="container">
			<form method="POST" action="/webapi/request-start" id="frmLaunchWebApi">
				<div class="form-group pull-right">
					<input type="hidden" name="$_csrf.parameterName" value="$_csrf.token"/>
			        <button type="submit" id="btnLaunchWebApi" class="btn btn-success">Launch WebApi</button>
			    </div>
			</form>
		</div>
        #end
        <div class="container">
              <h2>Remote WebAPIs</h2>
              <form class="form-horizontal" target="_self" enctype="application/x-www-form-urlencoded" action="/webapi/remote" method="post">
               #springBind("remote")
               
               #springBind("remote.name")
                <div class="form-group #if(${status.error})has-error#end">
                    <label for="cdmJdbc" class="col-sm-3 control-label">Remote Name</label>
                    <div class="col-sm-9">
                    	#springFormInput("remote.name" "class='form-control' placeholder='Public WebAPI'")
						#springShowErrors("<br/>" "")
                    </div>
                </div>      
                #springBind("remote.url")
                <div class="form-group #if(${status.error})has-error#end">
                    <label for="cdmJdbc" class="col-sm-3 control-label">Remote Url</label>
                    <div class="col-sm-9">
                    	#springFormInput("remote.url" "class='form-control' placeholder='http://api.ohdsi.org/WebAPI/'")
						#springShowErrors("<br/>" "")
                    </div>
                </div>    
                <div class="form-group pull-right">
                	<input type="hidden" name="$_csrf.parameterName" value="$_csrf.token"/>
                    <button id="submitRemote" class="btn btn-success" type="submit">Add Remote WebApi</button>
                </div>
            </form>
       </div>
            #if($webapi.hasRemotes())
      <div class="container">
      <div class="table-responsive">          
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Url</th>
          </tr>
        </thead>
        <tbody>
			    #foreach( $r in $remotes)
			        <tr>
			            <td>$r.name</td><td>$r.url</td>
			        </tr>
			    #end
        </tbody>
        </table>
       </div>
       </div>
            #end      
            <div class="container">
            <h2>Local WebAPI</h2>
            <form class="form-horizontal" target="_self" enctype="application/x-www-form-urlencoded" action="/webapi/config" method="post">
               #springBind("config")
               
               #springBind("config.cdmDialect")
                <div class="form-group #if(${status.error})has-error#end">
                    <label for="cdmJdbc" class="col-sm-3 control-label">SQL Dialect</label>
                    <div class="col-sm-9">
                    	#springFormSingleSelect("config.cdmDialect", $config.dialectOptions)
                    	#springShowErrors("<br/>" "")
                    </div>
                </div>
                
               #* springBind("config.jdbcDriverClassName")
                <div class="form-group #if(${status.error})has-error#end">
                    <label for="cdmJdbcDriverClassName" class="col-sm-3 control-label">CDM JDBC Driver Class Name</label>
                    <div class="col-sm-9">
                    	#springFormInput("config.jdbcDriverClassName" "class='form-control' placeholder='e.g. com.microsoft.sqlserver.jdbc.SQLServerDriver'")
						#springShowErrors("<br/>" "")
                    </div>
                </div>
                *#
                
                #springBind("config.jdbcIpAddress")
                <div class="form-group #if(${status.error})has-error#end">
                    <label for="cdmJdbc" class="col-sm-3 control-label">Host Server</label>
                    <div class="col-sm-9">
                    	#springFormInput("config.jdbcIpAddress" "class='form-control'")
						#springShowErrors("<br/>" "")
                    </div>
                </div>
				#springBind("config.jdbcPort")
                <div class="form-group #if(${status.error})has-error#end">
                    <label for="cdmJdbc" class="col-sm-3 control-label">Host Port</label>
                    <div class="col-sm-9">
                    	#springFormInput("config.jdbcPort" "class='form-control'")
						#springShowErrors("<br/>" "")
                    </div>
                </div>            
				#springBind("config.cdmDataSourceSid")
                <div class="form-group #if(${status.error})has-error#end">
                    <label for="cdmJdbc" class="col-sm-3 control-label">SID/Service Name</label>
                    <div class="col-sm-9">
                    	#springFormInput("config.cdmDataSourceSid" "class='form-control'")
						#springShowErrors("<br/>" "")
                    </div>
                </div>      
                #springBind("config.jdbcUser")
                <div class="form-group #if(${status.error})has-error#end">
                    <label for="cdmUsername" class="col-sm-3 control-label">Username</label>
                    <div class="col-sm-9">
                    	#springFormInput("config.jdbcUser" 'class="form-control"')
                    	#springShowErrors("<br/>" "")
                    </div>
                </div>
                #springBind("config.jdbcPass")
                <div class="form-group #if(${status.error})has-error#end">
                    <label for="cdmPassword" class="col-sm-3 control-label">Password</label>
                    <div class="col-sm-9">
                    	#springFormPasswordInput("config.jdbcPass" 'class="form-control" placeholder="Password"')
                    	#springShowErrors("<br/>" "")
                    </div>
                </div>
                
                #springBind("config.cdmSchema")
                <div class="form-group #if(${status.error})has-error#end">
                    <label for="cdmSchema" class="col-sm-3 control-label">CDM Schema</label>
                    <div class="col-sm-9">
                    	#springFormInput("config.cdmSchema" 'class="form-control" placeholder="CDM"')
                    	#springShowErrors("<br/>" "")
                    </div>
                </div>
                #springBind("config.ohdsiSchema")
                <div class="form-group #if(${status.error})has-error#end">
                    <label for="cdmResultsSchema" class="col-sm-3 control-label">Results Schema</label>
                    <div class="col-sm-9">
                        #springFormInput("config.ohdsiSchema" 'class="form-control" placeholder="OHDSI"')
                        #springShowErrors("<br/>" "")
                    </div>
                </div>
                #springBind("config.cohortSchema")
                <div class="form-group #if(${status.error})has-error#end">
                    <label for="cdmCohortSchema" class="col-sm-3 control-label">Cohort Schema</label>
                    <div class="col-sm-9">
                        #springFormInput("config.cohortSchema" 'class="form-control" placeholder="CDM"')
                        #springShowErrors("<br/>" "")
                    </div>
                </div>
<div>
<a class="btn btn-primary btn-xs" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Advanced config
</a>
<div class="collapse" id="collapseExample">
  <div class="well">
                                
                #springBind("config.flywayDataSourceSid")
                <div class="form-group #if(${status.error})has-error#end">
                    <label for="flywayJdbc" class="col-sm-3 control-label">CDM Flyway DataSource SID/Service Name</label>
                    <div class="col-sm-9">
                    	#springFormInput("config.flywayDataSourceSid" "class='form-control'")
						#springShowErrors("<br/>" "")
                    </div>
                </div>
                #springBind("config.flywayJdbcUser")
                <div class="form-group #if(${status.error})has-error#end">
                    <label for="flywayJdbcUsername" class="col-sm-3 control-label">CDM Flyway Jdbc Username</label>
                    <div class="col-sm-9">
                    	#springFormInput("config.flywayJdbcUser" "class='form-control'")
                    	#springShowErrors("<br/>" "")
                    </div>
                </div>
                #springBind("config.flywayJdbcPass")
                <div class="form-group #if(${status.error})has-error#end">
                    <label for="flywayJdbcPassword" class="col-sm-3 control-label">CDM Flyway Jdbc Password</label>
                    <div class="col-sm-9">
                    	#springFormPasswordInput("config.flywayJdbcPass" "class='form-control'")
                    	#springShowErrors("<br/>" "")
                    </div>
                </div>
                #springBind("config.flywaySchemas")
                <div class="form-group #if(${status.error})has-error#end">
                    <label for="flywaySchemas" class="col-sm-3 control-label">CDM Flyway Schemas (case sensitive)</label>
                    <div class="col-sm-9">
                    	#springFormInput("config.flywaySchemas" 'class="form-control" placeholder="Flyway Schemas"')
                    	#springShowErrors("<br/>" "")
                    </div>
                </div>
  </div>
</div>  
</div>

<div><h2>Application-specific Configuration</h2>#*<label class="col-sm-3 control-label"></label>*#
				#springBind("config.achillesDataDir")
                <div class="form-group #if(${status.error})has-error#end">
                    <label for="achillesDataDir" class="col-sm-3 control-label">Achilles Data Dir</label>
                    <div class="col-sm-9">
                    	#springFormInput("config.achillesDataDir" 'class="form-control" placeholder="/var/achilles/data"')
                    	#springShowErrors("<br/>" "")
                    </div>
                </div>
</div>              
                <div class="form-group pull-right">
                	<input type="hidden" name="$_csrf.parameterName" value="$_csrf.token"/>
                    <button id="submitButton" class="btn btn-success" type="submit">Save Configuration</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>