
<div>
	#set ( $current = "index" )
	#parse( "common/navbar.vm" )
	#renderNavBar ($current )
	
<style type="text/css">


body {
  background: url($baseURL/img/meteora.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>

<div class="container" id="main-launcher">
    <div class="row row-top">
        <div class="col-md-12">
	        <div class="tab-content">
	            <div class="tab-pane active" id="main">
	            	<div class="row" style="margin-top:10%">
						<div class="col-md-10 col-md-offset-1">
							<div class="jumbotron">
								<h2 style="font-family: 'Julius Sans One', sans-serif;font-size:60px">$appName <p class="sub-text">$appMessage</p></h2>
								#if (!$webapi.isRunning() && $req.isUserInRole("ADMIN"))
									The Local WebAPI server isn't running. Visit the <a href="$baseURL/webapi/config.html">Configuration</a> page to configure and/or start it.
								#end
								#if($webapi.hasRemotes())
								    There are remote WebAPIs configured.  Applications that support toggling between WebAPIs will allow you to use these via the gear/settings.
								#end
							</div>
						</div>
						<div class="col-md-1"></div>
					</div>

					#if ($req.userPrincipal && ($webapi.isRunning() || $webapi.hasRemotes()))
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<div class="row" style="
    background: rgba(255, 255, 255, 0.85);     background-color: 0 0 0 0.4;
    padding: 30px;
    border-radius: 8px;
    margin: 4px;
							">
									#if($req.isUserInRole("ATHENA"))
								<div class="col-sm-4 launch-link-row" type="athena">
									<div class="row">
										<div class="col-xs-7 col-sm-5 col-md-4">
											<img src="$baseURL/img/athena-cropped-shadow.png" style="height:80px; width: auto; float:right"/>
										</div>
										<div class="col-xs-8 col-sm-7 col-md-8  launch-app-names">
											<label class="launcher-header">Athena</label><br />
											<label class="launcher-subheader">OMOP Vocabulary Loader</label>
										</div>
									</div>
								</div>
								#end

								#if($req.isUserInRole("HERMES"))
								<div class="col-sm-4 launch-link-row" type="hermes">
									<div class="row">
										<div class="col-xs-7 col-sm-5 col-md-4">
											<img src="$baseURL/img/hermes-Cropped-shadow.png" style="height:80px; width: auto; float:right"/>
										</div>
										<div class="col-xs-8 col-sm-7 col-md-8  launch-app-names">
											<label class="launcher-header">Hermes</label><br />
											<label class="launcher-subheader">OMOP Vocabulary Explorer</label>
										</div>
									</div>
								</div>
								#end
								
								#if($req.isUserInRole("ACHILLES"))
								<div class="col-sm-4 launch-link-row" type="achilles">
									<div class="row">
										<div class="col-xs-7 col-sm-5 col-md-4">
											<img src="$baseURL/img/achilles-cropped-rounded.png" style="height:80px; width: auto; float:right"/>
										</div>
										<div class="col-xs-8 col-sm-7 col-md-8 launch-app-names">
											<label class="launcher-header">Achilles</label><br />
											<label class="launcher-subheader">Dataset Characterization</label>
										</div>
									</div>
								</div>
								#end
								
								 #if($req.isUserInRole("CIRCE"))
								<div class="col-sm-4 launch-link-row" type="circe">
									<div class="row">
										<div class="col-xs-7 col-sm-5 col-md-4">
											<img src="$baseURL/img/circe-Cropped-shadow.png" style="height:80px; width: auto;  float:right"/>
										</div>
										<div class="col-xs-8 col-sm-7 col-md-8 launch-app-names">
											<label class="launcher-header">Circe</label><br />
											<label class="launcher-subheader">Cohort Creation</label>
										</div>
									</div>
								</div>
								#end

								#if($req.isUserInRole("HERACLES"))
								<div class="col-sm-4 launch-link-row" type="heracles">
																		<div class="row">
										<div class="col-xs-7 col-sm-5 col-md-4">
											<img src="$baseURL/img/heracles-Cropped-shadow.png" style="height:80px; width: auto; float:right"/>
										</div>
										<div class="col-xs-8 col-sm-7 col-md-8 launch-app-names">
											<label class="launcher-header">Heracles</label><br />
											<label class="launcher-subheader">Cohort Characterization</label>
										</div>
									</div>
								</div>
								#end
								
								#if($req.isUserInRole("CALYPSO"))
								<div class="col-sm-4 launch-link-row" type="calypso" >
									<div class="row">
										<div class="col-xs-7 col-sm-5 col-md-4">
											<img src="$baseURL/img/calypso-Cropped-shadow.png" style="height:80px; width: auto; float:right"/>
										</div>
										<div class="col-xs-8 col-sm-7 col-md-8 launch-app-names">
											<label class="launcher-header">Calypso</label><br />
											<label class="launcher-subheader">Clinical Trial Feasibility</label>
										</div>
									</div>
								</div>
								#end		

							</div>
						</div>
						#end
					</div>
	            </div>
	            
	            <div class="tab-pane" id="achilles" data-src="$baseURL/Achilles/index.html">
	                <iframe src="" frameborder="0" webkitallowfullscreen="webkitAllowFullScreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowFullScreen" style="overflow:hidden;height:2500;width:100%" height="2500" width="100%"></iframe>
	            </div>
	            
	            <div class="tab-pane" id="heracles" data-src="$baseURL/Heracles/index.html">
	                <iframe src="" frameborder="0" webkitallowfullscreen="webkitAllowFullScreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowFullScreen" style="overflow:hidden;height:2500;width:100%" height="2500" width="100%"></iframe>
	            </div>

	            <div class="tab-pane" id="calypso" data-src="$baseURL/Calypso/index.html">
	                <iframe src="" frameborder="0" webkitallowfullscreen="webkitAllowFullScreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowFullScreen" style="overflow:hidden;height:2500;width:100%" height="2500" width="100%"></iframe>
	            </div>

	            <div class="tab-pane" id="hermes" data-src="$baseURL/Hermes/index.html">
	                <iframe src="" frameborder="0" webkitallowfullscreen="webkitAllowFullScreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowFullScreen" style="overflow:hidden;height:2500;width:100%" height="2500" width="100%"></iframe>
	            </div>
	
	            <div class="tab-pane" id="circe" data-src="$baseURL/Circe/index.html">
	                <iframe src="" frameborder="0" webkitallowfullscreen="webkitAllowFullScreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowFullScreen" style="overflow:hidden;height:2500;width:100%" height="2500" width="100%"></iframe>
	            </div>
	

	            
	            <div class="tab-pane" id="athena" data-src="http://www.ohdsi.org/web/athena/">
	                <iframe src="" frameborder="0" webkitallowfullscreen="webkitAllowFullScreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowFullScreen" style="overflow:hidden;height:2500;width:100%" height="2500" width="100%"></iframe>
	            </div>
	            
	            	            
	            <div class="tab-pane" id="jobviewer" data-src="$baseURL/JobViewer/index.html">
	                <iframe src="" frameborder="0" webkitallowfullscreen="webkitAllowFullScreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowFullScreen" style="overflow:hidden;height:2500;width:100%" height="2500" width="100%"></iframe>
	            </div>
	        </div>
        </div>
    </div>
</div>
#*
	<div class="container" id="main-launcher">
		<!-- Header and app info -->
		<div class="row row-top">
			<div class="col-md-10 col-md-offset-1">
				<div class="jumbotron">
					<h2>$appName</h2>
					<p class="sub-text">$appMessage</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="row">
					#foreach($link in $launchableLinks)
						<div class="col-md-4 portfolio-item">
							<a class="launch-app" href="$link.url"
								#foreach ($entry in $link.customAnchorAttributes.entrySet())
									 $entry.key="$entry.value" 
								#end
							>
								<img class="img-responsive img-ohdsi" src="$link.imageSource"
								#foreach ($entry in $link.customImageAttributes.entrySet())
									 $entry.key="$entry.value" 
								#end
								 />
							</a>
							<h3>
								<a class="launch-app" href="$link.url"
								#foreach ($entry in $link.customAnchorAttributes.entrySet())
									 $entry.key="$entry.value" 
								#end
								>$link.name</a>
							</h3>
							<p>$link.description</p>
						</div>
					#end
				</div>
			</div>
		</div>
	</div>

	<div id="app-holder-wrapper" class="container" style="display:none">

		<div class="row row-top">
			<div class="col-md-12">
				<iframe id="app-holder" frameborder="0" />
			</div>
		</div>
	</div>
*#
</div> 
