
<div>
	#set ( $current = "index" )
	#parse( "common/navbar.vm" )
	#renderNavBar ($current )
	
<style type="text/css">

body { 
  background: url(/img/mtOlympusSkourta.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>

<div class="container" id="main-launcher">
    <div class="row row-top">
        <div class="col-md-12">
	        <div class="tab-content">
	            <div class="tab-pane active" id="main">
	            	<div class="row" style="margin-top:150px">
						<div class="col-md-10 col-md-offset-1">
							<div class="jumbotron">
								<h2>$appName</h2>
								<p class="sub-text">$appMessage</p>
							</div>
						</div>
						<div class="col-md-1"></div>
					</div>
					
					<div class="row">
					
					</div>
	            </div>

	            <div class="tab-pane" id="hermes" data-src="http://localhost:20000/Hermes/index.html">
	                <iframe src="" frameborder="0" webkitallowfullscreen="webkitAllowFullScreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowFullScreen" style="overflow:hidden;height:2500;width:100%" height="2500" width="100%"></iframe>
	            </div>
	
	            <div class="tab-pane" id="circe" data-src="http://localhost:20000/Circe/index.html">
	                <iframe src="" frameborder="0" webkitallowfullscreen="webkitAllowFullScreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowFullScreen" style="overflow:hidden;height:2500;width:100%" height="2500" width="100%"></iframe>
	            </div>
	
	            <div class="tab-pane" id="heracles" data-src="http://localhost:20000/Heracles/index.html">
	                <iframe src="" frameborder="0" webkitallowfullscreen="webkitAllowFullScreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowFullScreen" style="overflow:hidden;height:2500;width:100%" height="2500" width="100%"></iframe>
	            </div>

	            <div class="tab-pane" id="jobviewer" data-src="http://localhost:20000/JobViewer/index.html">
	                <iframe src="" frameborder="0" webkitallowfullscreen="webkitAllowFullScreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowFullScreen" style="overflow:hidden;height:2500;width:100%" height="2500" width="100%"></iframe>
	            </div>
	            <div class="tab-pane" id="calypso" data-src="http://localhost:20000/Calypso/index.html">
	                <iframe src="" frameborder="0" webkitallowfullscreen="webkitAllowFullScreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowFullScreen" style="overflow:hidden;height:2500;width:100%" height="2500" width="100%"></iframe>
	            </div>
	        </div>
        </div>
    </div>
</div>
#*
	<div class="container" id="main-launcher">
		<!-- Header and app info -->
		<div class="row row-top">
			<div class="col-md-10 col-md-offset-1">
				<div class="jumbotron">
					<h2>$appName</h2>
					<p class="sub-text">$appMessage</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="row">
					#foreach($link in $launchableLinks)
						<div class="col-md-4 portfolio-item">
							<a class="launch-app" href="$link.url"
								#foreach ($entry in $link.customAnchorAttributes.entrySet())
									 $entry.key="$entry.value" 
								#end
							>
								<img class="img-responsive img-ohdsi" src="$link.imageSource"
								#foreach ($entry in $link.customImageAttributes.entrySet())
									 $entry.key="$entry.value" 
								#end
								 />
							</a>
							<h3>
								<a class="launch-app" href="$link.url"
								#foreach ($entry in $link.customAnchorAttributes.entrySet())
									 $entry.key="$entry.value" 
								#end
								>$link.name</a>
							</h3>
							<p>$link.description</p>
						</div>
					#end
				</div>
			</div>
		</div>
	</div>

	<div id="app-holder-wrapper" class="container" style="display:none">

		<div class="row row-top">
			<div class="col-md-12">
				<iframe id="app-holder" frameborder="0" />
			</div>
		</div>
	</div>
*#
</div> 
