<div class="chart-template">
    <h3 class="cohort-name-header">{{cohort.name}}</h3>

    <div class="row ">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Number of Persons by Duration from Cohort Start to Cohort End</h3>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="personsByDurationFromStartToEnd" class="chartcontainer"></div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12">
            <div id="panelPrevalenceByMonth" class="panel panel-default">
                <div class="panel-heading">
                    Prevalence by Month
                </div>
                <div class="panel-body">
                    <div id="prevalenceByMonth"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div id="panelConditionPrevalence" class="panel panel-default">
                <div class="panel-heading">
                    Number of Persons by Cohort Start
                </div>
                <div class="panel-body">
                    <div id="trellisLinePlot"></div>
                </div>
            </div>
        </div>
    </div>

</div>