<div class="chart-template">
    <h3 class="cohort-name-header">{{cohort.name}}</h3>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Total Rows
                </div>
                <div class="panel-body">
                    <div id="totalrecords"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Records Per Person
                </div>
                <div class="panel-body">
                    <div id="recordsperperson"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Concepts Per Person
                </div>
                <div class="panel-body">
                    <div id="conceptsperperson"></div>
                </div>
            </div>
        </div>
    </div>
</div>