<div class="chart-template">
    <h3 class="cohort-name-header">{{cohort.name}}</h3>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Drug Prevalence
                </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active"><a href="#drugera-treemap-panel" role="tab" data-toggle="tab">Treemap</a>
                            </li>
                            <li><a href="#drugera-table-panel" role="tab" data-toggle="tab">Table</a>
                            </li>
                        </ul>
                        <div id='drug_content' class="tab-content">
                            <div role="tabpanel"  class="tab-pane active" id="drugera-treemap-panel">
                                <div id="drug_treemap_container">
                                    <div class="treemap_zoomtarget"></div>
                                </div>
                                <div class="treemap_legend">Box Size: Prevalence, Color: Log of Relative Risk (Red to Green = Negative to Positive), Use Ctrl-Click to Zoom, Alt-Click to Reset Zoom</div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="drugera-table-panel">
                                <table id="drugera_table" class="display treemap_table" type="drug">
                                    <thead>
                                    <tr>
                                        <th>Concept Id</th>
                                        <th>ATC 1</th>
                                        <th>ATC 3</th>
                                        <th>ATC 5</th>
                                        <th>Ingredient</th>
                                        <th>Person Count</th>
                                        <th>Prevalence</th>
                                        <th>Relative Risk per Person</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="drugOccurrencesDrilldown" class="hidden row">
        <div id="drugDrilldownTitle" class="reportTitle col-sm-12"></div>
        <div class="col-sm-12">
            <div id="drugDrilldownPrevalencePanel" class="panel panel-default">
                <div class="panel-heading">
                    First Drug Occurrence Relative to Index
                </div>
                <div class="panel-body">
                    <div class="drilldown" id="drugDrilldownScatterplot"></div>
                </div>
            </div>
        </div>
    </div>

</div>