<div class="chart-template">
    <h3 class="cohort-name-header">{{cohort.name}}</h3>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Data Quality Messages
                </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <table id="heel_table" class="display">
                            <thead>
                            <tr>
                                <th>Message Type</th>
                                <th>Message</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>