<div class="chart-template">
    <h3 class="cohort-name-header">{{cohort.name}}</h3>

    <div class="row equal">
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Age at First Observation
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="ageatfirstobservation" class="chartcontainer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Age by Gender
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="agebygender" class="chartcontainer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row equal">
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Observation Length
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="observationlength" class="chartcontainer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Duration By Gender
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="opbygender" class="chartcontainer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row equal">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Cumulative Observation
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="cumulativeobservation" class="chartcontainer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Duration By Age Decile
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="opbyage" class="chartcontainer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row equal">
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Persons With Continuous Observation By Year
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="oppeoplebyyear" class="chartcontainer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Observation Periods per Person
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row equal">
                        <div class="col-xs-12">
                            <div id="opperperson" class="chartcontainer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row equal">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Persons With Continuous Observation By Month
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="oppeoplebymonthsingle" class="chartcontainer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>